body {background-image: url("nature-background-backgrounds-galaxy.jpg"); background-repeat: no-repeat;
  background-size: cover}

.footer {
 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #39e1d2;
  color: black;
  text-align: center;
   
}